<p id="notice"></p>
<div class="container">
<div class="row">
<div class='col-md-3'>
<%= render 'books/boook', book: @newbook,user:@book.user%>
</div>
<div class='col-md-8 offset-md-1'>
<%= render 'books/showb', books: @books %>
</div>
</div>
</div>